<!doctype html>
<!--[if IE 9]>
<html class="lt-ie10" lang="en"> <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{page.title}}</title>


    <meta name="description"
          content="Update what your Blog is about in this section"/>

    <meta name="author" content="Your name goes here"/>
    <meta name="copyright" content="Maybe consider a Creative Commons license"/>

    <link rel="stylesheet" href="{{page.root}}css/foundation.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{page.root}}css/coderay.css"/>
    <link rel="stylesheet" href="{{page.root}}css/github.css"/>
    <!-- <link rel="stylesheet" href="{{page.root}}css/prettify.css"/> -->
    <!--  <script src="{{page.root}}js/prettify.js"></script> -->
    
    <link rel="stylesheet" href="{{page.root}}css/zenburn.css">
    <script src="{{page.root}}js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script src="{{page.root}}js/vendor/modernizr.js"></script>
</head>
<body>

<!-- Main Page Content and Sidebar -->
<div class="row" style="margin-bottom:15px;">
    <div class="large-10 large-offset-1 medium-10 medium-offset-1 columns shadow">
        <div class="header-bar row">
            <div class="large-12 columns">
                    <h3 style="color:white; border:0;"><a style="color:white;" href="{{page.root}}">&#10093; Blog</a></h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- Main Blog Content -->
    <div class="large-10 large-offset-1 medium-10 medium-offset-1 columns" role="content">
        {{ content }}
    </div>  
    <!-- End Main Content -->
</div>

<!-- End Main Content and Sidebar -->


<!-- Footer -->
{% include footer.html %}

<script src="{{page.root}}js/vendor/jquery.js"></script>
<script src="{{page.root}}js/foundation.min.js"></script>
<script src="{{page.root}}js/toc.js"></script>
<script>
    $(document).foundation();
</script>
<script src="{{page.root}}js/vendor/jquery.js"></script>
<script src="{{page.root}}js/foundation/foundation.js"></script>
<script>
    $(document).foundation();

    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);
</script>
</body>
</html>